.controls {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  background-color: rgb(78, 78, 78);
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.2)
}

.colorBox {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
}

.eraserBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  box-shadow: 0 0 0.2em black;
}

.penBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  box-shadow: 0 0 0.2em black;
}

.sliderBox {
  margin-top:auto;
  margin-right: 1em;
}

.rulerBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
  box-shadow: 0 0 0.2em black;
}

.sessionBox {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
}

.sessionName {
  color: white;
}