.controls {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
  background-color: rgb(78, 78, 78);
  padding: 0.5em 0.5em 0.5em 0.5em;
  /*box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.2)*/
}

.colorBox {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
}

.eraserBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  box-shadow: 0 0 0.2em black;
}

.penBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  box-shadow: 0 0 0.2em black;
}

.sliderBox {
  margin-top:auto;
  margin-right: 2em;
}

.rulerBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  box-shadow: 0 0 0.2em black;
}

.clearBox {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  margin-right: 2em;
  box-shadow: 0 0 0.2em black;
}





/* .controls div {
  flex-direction: row;
} */

/* .div {
  flex-direction: row;
} */

/* .controls .fa-icon {
  cursor: pointer;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 30%;
  box-shadow: 0 0 6px black;
  z-index: 2;
  color: #071a54;
  background: linear-gradient(
    90deg,
    rgba(174, 238, 237, 1) 0%,
    rgba(181, 23, 23, 1) 100%
  );
} */
